body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navBar{
    padding-left: 2%;
    padding-right: 2%;
    display:flex;            
    justify-content: space-between;
    align-items: center;
    background-color: #a9a9a9;
    color: white;
}

.navTitle{
    text-align: center;
    margin: auto auto auto 0;
    font-size:3em;
}

.navOptions{
    height:100%;
    display: flex;
}

.navOptions ul{
    width:100%;
    list-style: none;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.navOptions li {
    font-size: larger;
}

.navOptions li:hover {
    background-color: rgba(119, 136, 153, 0.915);
    border-radius: 0px 50px;
}

.ItemsRowsGrouping {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}

.Items {
    width: 280px;
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.Items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.Choices {
    margin-right: 10%;;
    display: none;
}

.Items:hover .Choices {
    display: block;
}

.Choices a {
    position: absolute;
}

.Choices a:hover {
    color: red;
}

.cartButton {
    background: rgba(191, 164, 164, 0.559);
    display: none;
    cursor: pointer;
}

.Items:hover .cartButton {
    display: block;
}

.cartButton button {
    position: absolute;
    cursor: pointer;
}

.cartButton button:hover {
    background: grey;
}

.Data {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1mh;
    text-align: center;
}

.Likes {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.Likes i {
    color: gold;
}


@media (min-width:1200px) {
    .navTitle {
        margin: 0.25em;
        font-size:2.5em;
    }

    .navOptions li {
        margin: 10px;
        padding: 15px;
        font-size: 2em;
    }
}

@media (max-width:640px) {
    .navTitle {
        margin: 0.25em;
        margin-top: center;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .navOptions {
        width:40%;
        display: flex;
        padding: 10px;
    }

    .navOptions li {
        font-size: 1em;
    }
    
    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:480px) {
    .ItemsRowsGrouping {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-items: left;
    }
}

@media (max-width:300px) {
    .navOptions ul {
        margin: 5%;
        border: 2px solid white;
    }
    
    .navTitle {
        background-color: #a9a9a9;
    }

    .navOptions {
        background-color: #a9a9a9;
    }

    .navOptions li {
        background-color: #a9a9a9;
    }
    
    .navBar {
        background-color: #a9a9a9;
    }
}